/* *********第一步********* */
/* 第1步:样式标准化重置：：即将流浪器提供的默认样式统一化 改成当前项目适合的样式如：系统的输入框有外轮扩线等*/

/* 1）将html的根元素重置 */
heml {
	/*1.1 根元素的默认高度是靠内容撑起，使用起来不方便，我们可以让html的高度为他的父级高度，也就是浏览器窗口的高度 */
	height: 100%;
	/* 1.2设定根元素html的字体大小，页面中所有使用rem单位的长度都是相对于html的字体大小而言 */
	font-size: 14px;
}

/* 2）body的样式重置 */
body {
	/* 2.1不同的流浪器外间距不同，所以我们重置为0 */
	margin: 0;
	/* 2.2字体与字体颜色的设置 */
	font-family: '黑体';
	color: #666;
	/*2.3 背景颜色 */
	background-color: #f5f5f5;
}

/* 3）超链接样式重置 */
a:link {
	/* 3.1清除超链接自带的下划线 */
	text-decoration: none;
	/* 3.2修改超链接的字体颜色，超链接默认不会继承body的字体颜色 */
	color: #808080;
}

a:visited {
	/* 3.3一般超链接访问过的样式和未被访问过的样式是一样的 */
	color: #808080;
}

/* 3.4重置超链接悬停时的样式 */
a:hover {
	/* 鼠标悬停，超链接的字体颜色会深一些 */
	color: #666;
}

/* 4）列表的样式重置 */
/*4.1 默认流浪器为所有的列表提供了间距，需要清除  */
ul,
ol {
	margin: 0;
	padding: 0;
}

/*4.1 清除浏览器提供的每个列表项前的提示符号  */
li {
	/*4.1 去掉列标签默认的实心圆（ul）／［位伯数字（ol）*/
	margin: 0;
	padding: 0;
}


/* 5）清除段落默认存在的上下外间距 */
p {
	/* 5.1浏览器为所有的段落提供了上下外间距，需要清除 */
	margin: 0;
}

/* 6）清除输入元素的外轮廓线，就没有什么项目想使用这个外轮廓线的 */
input {
	/* 6.1 当输入框获得输入焦点时，会显示外轮廓线，需要清除*/
	outline: none;
}

/* *********第二步：样式脚手架（作用声明一些基础类，辅助构建整个页面）********* */

/* 7)版心基础类 */
.container {
	/* 7.1根据设计给的宽度制定版心的宽度 */
	width: 1000px;
	/* 7.2 设置版心中的内容在页面中水平居中 */
	margin: 0 auto;
}


/* 8)清除父级高度坍塌影响的工具类 */
.clearfix::after {
	content: '';
	/*在指定元素的最后生成一个空的假孩子 */
	display: block;
	/*显示模式变为块级才能使用cLear属性 */
	clear: both;
	/* 清除向左向右两个浮动产生的影响*/
}


/* 9)开发测试阶段的辅助线，颜色自定义，代码 */
div {
	border: 0.5px solid #aaa;
}
